@let userType = authService.userType$ | async;

<mat-toolbar>
    <a class="logo" [routerLink]="['/']">
        <img src="assets/logo.jpg" alt="logo" />
    </a>

    <a
        mat-button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']"
    >
        Home
    </a>

    @if (userType === 'user') {
        <a mat-button routerLinkActive="active" [routerLink]="['/profile']">Profile</a>
        <a mat-button routerLinkActive="active" [routerLink]="['/orders']">My Orders</a>
    }

    @if (userType === 'admin') {
        <a mat-button routerLinkActive="active" [routerLink]="['admin/stations']">Stations</a>
        <a mat-button routerLinkActive="active" [routerLink]="['admin/routes']">Routes</a>
        <a mat-button routerLinkActive="active" [routerLink]="['admin/carriages']">Carriages</a>
    }

    <span class="space"></span>

    @if (userType === 'user') {
        <span>Hello, {{ userType }}</span>
    }

    @if (userType === 'admin') {
        <a mat-button routerLinkActive="active" [routerLink]="['/admin']">Admin</a>
    }

    @if (userType === 'guest') {
        <a mat-button routerLinkActive="active" [routerLink]="['/signin']">Sign In</a>
        <a mat-button routerLinkActive="active" [routerLink]="['/signup']">Sign Up</a>
    }

    @if (userType !== 'guest') {
        <button mat-icon-button (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
        </button>
    }
</mat-toolbar>
