@use '@angular/material' as mat;

$theme: mat.define-theme();

.space {
    flex: 1 1 auto;
}

.logo {
    height: 100%;

    & > img {
        width: 100%;
        height: 100%;
    }
}
.active {
    background-color: #005cbb1f;
}
