<h2 mat-dialog-title>Create route</h2>

<mat-dialog-content>
    <div class="stepper-wrap">
        <app-station-stepper
            #stationStepper
            [pathIds]="pathIds"
            [stationEntities]="stationEntities"
        />
        <app-carriages-stepper
            #carriagesStepper
            [carriagesTypes]="carriagesTypes"
            [carriages]="carriages"
        />
    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button
            test-id="save-btn"
            mat-button
            [mat-dialog-close]="newRoute"
            [disabled]="!(carriagesStepper.canSave && stationStepper.canSave)"
        >
            Save
        </button>
    </mat-dialog-actions>
</mat-dialog-content>
