<div #scroll="scrollToTop" appScrollToTop class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource()">
        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell>City</th>
            <td *matCellDef="let item" mat-cell>{{ item.city }}</td>
        </ng-container>

        <!-- Connected to: Column -->
        <ng-container matColumnDef="connectedTo">
            <th *matHeaderCellDef mat-header-cell>Connected to:</th>
            <td *matCellDef="let item" mat-cell>
                {{ item.connectedTo | toIdList | getConnectedCity: stationEntities() | join: ', ' }}
            </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <th *matHeaderCellDef mat-header-cell>Location</th>
            <td *matCellDef="let item" mat-cell>{{ item.latitude }} {{ item.longitude }}</td>
        </ng-container>

        <!-- Delete btn Column -->
        <ng-container matColumnDef="remove">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let item" mat-cell>
                <button mat-icon-button type="button" (click)="removeOne.emit(item.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>

    <mat-paginator
        showFirstLastButtons
        [pageSizeOptions]="[10, 30, 50]"
        (page)="scroll.scrollToTop()"
    />
</div>
