<div *ngFor="let carriage of carriages$ | async">
    <h3>{{ carriage.name }}</h3>
    <div *ngIf="rotatedSeatingMatrices[carriage.name]">
        <div class="seating-container">
            <div *ngFor="let row of rotatedSeatingMatrices[carriage.name]">
                <div class="seating-row">
                    <ng-container *ngFor="let seat of row">
                        <ng-container *ngIf="seat.isFree !== '-'">
                            <app-seat
                                [value]="seat.isFree"
                                [seatNumber]="seat.seat_number + 1"
                            ></app-seat>
                        </ng-container>
                        <ng-container *ngIf="seat.isFree === '-'">
                            <div class="empty-seat"></div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
