:host {
    display: block;
}

.map-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(400px, auto));
    margin-bottom: 10px;
    gap: 10px;
    padding: 10px;
}

mat-card {
    overflow: hidden;
}
