:host {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.ride-info {
    div {
        margin: 5px;
    }
}

.cities-info {
    display: flex;
    align-items: center;

    span {
        margin-left: 10px;
    }
}
