@let control = connectionForm.controls;

<!-- Mode Button toggles -->
<ng-container [formGroup]="connectionForm">
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle checked>Add new</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- City name input -->
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error>{{ control.city.errors | getControlErrorMessage }}</mat-error>
    </mat-form-field>

    <!-- Latitude input -->
    <mat-form-field appearance="outline">
        <mat-label>Latitude</mat-label>
        <input type="number" matInput formControlName="latitude" />
        <mat-error>{{ control.latitude.errors | getControlErrorMessage }}</mat-error>
    </mat-form-field>

    <!-- Longitude input -->
    <mat-form-field appearance="outline">
        <mat-label>Longitude</mat-label>
        <input type="number" matInput formControlName="longitude" />
        <mat-error>{{ control.longitude.errors | getControlErrorMessage }}</mat-error>
    </mat-form-field>

    <!-- Connected city list / multiple selector -->
    <mat-form-field appearance="outline">
        <mat-label>Connected city</mat-label>
        <mat-select [multiple]="true" [formControl]="connectedStationControl">
            @for (station of stationList(); track station.id) {
                <mat-option [value]="station.id">
                    {{ station.city }}
                </mat-option>
            }
        </mat-select>
        <mat-error>{{ connectedStationControl.errors | getControlErrorMessage }}</mat-error>
    </mat-form-field>
</ng-container>

<button mat-flat-button class="submit-btn" [disabled]="!isFormValid" (click)="submit()">
    Add city
</button>
