$icon-size: 50px;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

mat-icon {
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
}

h2 {
    margin: 0;
}
