/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.snack-bar-success {
    text-align: center;

    .mdc-snackbar__surface {
        background-color: #206f1e !important;
    }
}

.snack-bar-err {
    text-align: center;

    .mdc-snackbar__surface {
        background-color: #9f2f2f !important;
    }
}
