@let control = passwordForm.controls;

<h2 mat-dialog-title>Password change</h2>
<mat-dialog-content>
    <form [formGroup]="passwordForm">
        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
                matInput
                formControlName="password"
                [type]="isPasswordHide ? 'password' : 'text'"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                [attr.aria-pressed]="isPasswordHide"
                (click)="isPasswordHide = !isPasswordHide; $event.stopPropagation()"
            >
                <mat-icon>{{ isPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

            <mat-error>{{ control.password.errors | getControlErrorMessage }}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        cdkFocusInitial
        [disabled]="!passwordForm.valid || isSaving"
        (click)="save()"
    >
        {{ isSaving ? 'Loading...' : 'Save' }}
    </button>
</mat-dialog-actions>
